/* Pokemon Font */
@font-face {
  font-family: 'Pokemon';
  src: url('pokemon-dp-pro.ttf')  format('truetype');
}

/* Root Variables */
:root {
  --base-width: 256px;
  --base-height: 192px;
  --header-height: 48px;
  --footer-height: 96px;
  --color-bg: #008080;
  --color-blue: #5068e8;
  --color-light-blue: #7890e0;
  --color-gray-border: #505050;
  --color-blue-border: #3040b8;
  --color-light-blue-border: #a8b8f0;
  --color-bg-blue: #407098;
  --color-pd-blue: #88a0d0;
  --color-pd-yellow: #f8f080;
  --color-pd-dark-blue: #485880;
  --color-pd-light-blue: #a8c0e0;
  --color-pd-white: #f8f8f8;
  --color-pd-gray: #f0f0f8;
  --color-li-yellow: #f8f8c0;
  --color-li-yellow2: #e8e0c0;
  --color-li-yellow3: #d0c8b8;
  --color-li-yellow4: #b8b0b8;
  --color-pb-yellow: #f8e8b0;
  --color-pb-yellow2: #e8d0b0;
  --color-pb-yellow3: #d0b8a8;
  --color-pb-yellow4: #c0a0a0;
}

/* Popup styling */
.welcome-header {
  text-align: center;
  font-family: 'Pokemon';
}

.welcome-subheader {
  text-align: center;
  font-family: 'Pokemon';
  display: none;
}

.login-wrapper {
  position: absolute;
  width: calc(2 * var(--base-width));
  height: calc(2 * var(--base-height) + 40px);
  text-align: center;
  background-color: white;
  z-index: 9;
  display: none;
}

.login-button {
  padding: 10px 0;
  width: 100px;
  background-color: yellow;
  position: absolute;
  top: 10%;
  left: 40%;
  z-index: 10;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  color: white;
  background-color: rgb(33, 150, 243);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.login-button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0;
  transition: opacity 0.2s;
}

.login-button::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px; /* Safari */
  height: 32px; /* Safari */
  background-color: white;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

.login-button:hover, .login-button:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.login-button:hover::before {
  opacity: 0.08;
}

.login-button:focus::before {
  opacity: 0.24;
}

.login-button:hover:focus::before {
  opacity: 0.3;
}

.login-button:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.login-button:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

.register-button {
  color: #333;
  background-color: white;
  top: 20%;
}

/* Pokedex Styling */
.pokedexWrapper {
  display: flex;
  margin-bottom: 20px;
}

.pokedex-bg {
  background-color: var(--color-bg);
  width: calc(2 * var(--base-width));
  height: calc(2 * var(--base-height));
}

.pokedex-header {
  background-color: var(--color-blue);
  color: white;
  display: flex;
  position: relative;
  justify-content: center;
  height: var(--header-height);
  border-bottom: 2px solid var(--color-light-blue-border);
  /* border-right: 4px solid var(--color-blue-border); */
}

.pokedex-header:after {
  content: " ";
  position: absolute;
  right: 12.4%;
  height: 50px;
  width: 4px;
  background-color: var(--color-blue-border);
}

.pokedex-header .title {
  align-self: center;
  font-family: 'Pokemon';
  text-shadow: 2px 2px #101820;
  font-size: 24px;
}

.pokedex-header .header-right {
  background-color: var(--color-light-blue);
  height: var(--header-height);
  width: 12%;
  position: absolute;
  right: 0;
  border-left: 2px solid var(--color-light-blue-border);
}

.pokedex-header .boltLeft {
  position: absolute;
  left: 20px;
  top: 40px;
  width: 4px;
  height: 4px;
  background-color: var(--color-blue-border);
}

.pokedex-header .boltRight {
  position: absolute;
  right: 85px;
  top: 40px;
  width: 4px;
  height: 4px;
  background-color: var(--color-blue-border);
}

.pokedex-body {
  display: flex;
  height: calc(var(--base-height) * 2 - var(--header-height) - var(--footer-height));
  border-top: 4px solid var(--color-gray-border);
  border-bottom: 4px solid var(--color-gray-border);
  background-color: var(--color-bg-blue);
  justify-content: flex-end;
}

.pokemon-display {
  position: relative;
  width: 192px;
  height: 192px;
  background-color: var(--color-bg);
  background: linear-gradient(
    to bottom,
    var(--color-pd-white),
    var(--color-pd-white) 50%,
    var(--color-pd-gray) 50%,
    var(--color-pd-gray)
  );
  background-size: 100% 20px;
  border: 4px solid var(--color-pd-blue);
  border-radius: 30px;
  align-self: center;
}

.pokemon-display:before {
  content: " ";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 4px solid var(--color-pd-yellow);
  border-radius: 34px;
}

.pokemon-display:after {
  content: " ";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 2px solid var(--color-pd-dark-blue);
  border-radius: 36px;
}

.pokemon-sprite {
  position:absolute;
  top: 24%;
  left: 24%;
  transform: scale(2);
}

.pokemon-list-wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  overflow: auto;
}

.pokemon-list {
  height: 100%;
  margin: 0;
  list-style: none;
}

.pokemon-list-item {
  position: relative;
  padding: 8px 60px;
  margin: 10px;
  background-color: var(--color-li-yellow);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-family: "Pokemon";
}

.pokemon-list-item > p {
  font-size: 16px;
  margin: 0;
  margin-left: -30px;
  width: 100px;
}

/* Bottom of the Pokeball */
.pokeball {
  position: absolute;
  top: -23px;
  left: 0;
  margin: 20px auto;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border-radius: 50%;
  background: #f8f8f8;
  border: 2px solid black;
  transform: scale(0.5);
}

.pokeball.not-found {
  top: -18px;
  background: var(--color-pb-yellow);
  border: none;
}

.pokeball.not-found:before {
  content: none;
}

.pokeball.not-found:after {
  content: none;
}

/* Top of the Pokeball */
.pokeball::before {
    content: "";
    background: #f86060;
    width: 30px;
    height: 15px;
    border-bottom: solid 2px black;
    border-radius: 20px 20px 0 0;
    display: block;
}

/* The center of the Pokeball */
.pokeball::after {
    content: "";
    height: 6px;
    width: 6px;
    background: #f8f8f8;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    top: 40%;
    left: 37%;
}

.pokedex-footer {
  background-color: var(--color-blue);
  display: flex;
  position: relative;
  height: var(--footer-height);
  border-top: 2px solid var(--color-light-blue-border);
  /* border-right: 4px solid var(--color-blue-border); */
  color: white;
  font-family: 'Pokemon';
  text-shadow: 2px 2px #101820;
  font-size: 28px;
}

.pokedex-footer:after {
  content: " ";
  position: absolute;
  right: 12.4%;
  height: 100%;
  width: 4px;
  background-color: var(--color-blue-border);
}

.pokedex-footer .footer-right {
  background-color: var(--color-light-blue);
  height: var(--footer-height);
  width: 12%;
  position: absolute;
  right: 0;
  border-left: 2px solid var(--color-light-blue-border);
}

.pokedex-footer .boltLeft {
  position: absolute;
  left: 20px;
  bottom: 85px;
  width: 4px;
  height: 4px;
  background-color: var(--color-blue-border);
}

.pokedex-footer .boltRight {
  position: absolute;
  right: 85px;
  bottom: 85px;
  width: 4px;
  height: 4px;
  background-color: var(--color-blue-border);
}

.seenLabel {
  position: absolute;
  left: 50px;
  bottom: 30px;
}

#seenCount {
  position: absolute;
  left: 100px;
  bottom: 10px;
}

.capturedLabel {
  position: absolute;
  right: 140px;
  bottom: 30px;
}

#capturedCount {
  position: absolute;
  right: 130px;
  bottom: 10px;
}

/* Content Script Styles */
.safari-scene {
  display: none;
}

.safari-scene.is-active {
  display: block;
  color: green;
  position: fixed;
  bottom: 16px;
  left: 16px;
  width: 24px;
  height: 24px;
  z-index: 1000;
}

.grass {
  position: absolute;
  bottom: 0;
  left: 15%;
  cursor: pointer;
}

.grass.is-animated {
  animation: shake 4s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.ball {
  cursor: pointer;
}

.ball:hover .ball-image {
  animation: shake 4s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.ball-image {
  position: absolute;
  transform: rotateZ(0deg);
  transition: 0.5s all;
}

.ball-image.is-animated {
  animation: putInBag 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.star1 {
  opacity: 0;
  width: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  transform: rotateZ(45deg);
  transition: all 0.5s;
}

.star1.is-animated {
  opacity: 1;
  top: -10px;
  left: -12px;
}

.star2 {
  opacity: 0;
  width: 16px;
  position: absolute;
  top: 4px;;
  left: 4px;
  transition: all 0.5s;
}

.star2.is-animated {
  opacity: 1;
  top: -20px;
}

.star3 {
  opacity: 0;
  width: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  transform: rotateZ(-45deg);
  transition: all 0.5s;
}

.star3.is-animated {
  opacity: 1;
  top: -10px;
  left: 20px;
}

.bagTop, .bagBottom {
  position: absolute;
  top: 40px;
  left: 4px;
  z-index: -1;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.bagBottom {
  top: 35px;
  z-index: 10000;
}

.bagTop.is-animated, .bagBottom.is-animated {
  top: -20px;
}

@keyframes shake {
  2.5%, 22.5% {
    transform: translate3d(-0.5px, 0, 0);
    transform: rotateZ(-1.25deg);
  }

  4%, 20% {
    transform: translate3d(1px, 0, 0);
    transform: rotateZ(2.5deg);
  }

  7.5%, 12.5%, 14% {
    transform: translate3d(-2px, 0, 0);
    transform: rotateZ(-5deg);
  }

  10%, 15% {
    transform: translate3d(2px, 0, 0);
    transform: rotateZ(5deg);
  }
}

@keyframes putInBag {
  0% {
    top: 0px;
    left: 0px;
    transform: rotateZ(0deg) scale(1);
  }

  50% {
    top: -60px;
    left: 20px;
    transform: rotateZ(107deg) scale(0.75);
  }

  100% {
    top: 40px;
    left: 20px;
    transform: rotateZ(345deg)  scale(0.7);
  }
}

.encounter-scene {
  display: none;
  position: fixed;
  top: 25%;
  left: 40%;
  width: 528px;
  height: 456px;
  border: 16px solid white;
  border-bottom: 116px solid white;
  border-radius: 8px;
/*   background: url("https://ibin.co/4h5wkuX4vwzs.png"); */
  background: linear-gradient(#E0F0E8 50%, #408880 100%);
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0px 0px 8px 3px #9f9f9f;
}

.encounter-stage {
  position: relative;
  margin: 38% auto;
  width: 240px;
  height: 80px;
  border-radius: 100% / 100%;
  border: 4px solid #98c8a8;
  background-color: #c8e8d8;
}

.encounter-textbox {
  margin-top: -131px;
  width: 498px;
  height: 100px;
  background: linear-gradient(
    to bottom,
    #f8f8f8,
    #f0f0f8
  );
  border: 4px solid gray;
  border-radius: 10px;
}

.encounter-text {
  margin-left: 16px;
  margin-top: 6px;
  font-size: 16px;
  font-family: 'Courier New', monospace;
}

.text-arrow {
  position: absolute;
  bottom: -90px;
  right: 16px;
  width: 1px;
  height: 1px;
  border: solid gray;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}
